h1 {
  color: #ffcb0b;
  text-align: center;
  font-size: 40px;
}

#refresh {
	color: #ffcb0b;
	background-color: #00274c;
	margin-left: 2%;
	margin-top: 5%;
}

html, body {
  height: 100%;
  margin: 0;
}
core-header-panel {
  height: 100%;
}

.core-header {
	height: 3.5em;
	background-color: #00274c;
	padding-bottom: 0.2em;
}

#title {
	font-size: 2.5em;
	color: #ffcb0b;	
	margin: 0;
	font-family: 'Shadows Into Light', cursive;
	/*font-weight: normal;*/
}

#more_btn {
	display: block;
	margin: 2em auto 2em auto;
	background: none;
	border: none;
	color: #00274c;
}
