h1 {
  color: #ffcb0b;
  text-align: center;
  font-size: 40px;
}

#header {
  background-color: #00274c;
  width: 100%;
  display: table;
  margin-bottom: 2%;
}


button {
	border: 0;
	background: none;
	outline: 0;
}

.card {
      background: white;
      width: 20%;
      min-width: 250px;
      height: auto;
      position: relative;
      margin: 20px auto;
      border-radius: 2px;
      padding: 0px 20px;
}

.stop_btn {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 5% 0 3% 0;
	font-size: 1.75em;
	color: #2f3080;

	/*border: 5px red solid;*/
}

.route-name {
	margin-top: 2%;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 1.4em;
}

.route-name::before{
	content: url('icon_97/icon_97_small.png');
	margin-right: 4%;
}


.time-list {
	margin: -4% 0 7% 3%;
	font-size: 1.1em;
	font-family: sans-serif;
}